{{#main-carousel}}
<section class="main-carousel">
  <div class="container main-container">
    <div class="row no-gutters">
      <div class="col-12">
        <div data-js="main-carousel">
          {{#slides}}
          <div class="main-carousel__slide main-carousel__slide_one main-carousel__slide_one__white-text">
            <div class="slide-outer" style="background-image: url({{slide-url}});">
              <div class="slide-inner">
                <div class="row">
                  <div class="col-12 col-lg-7 offset-lg-1">
                    <div class="main-carousel__slide__title-wrapper d-inline-block">
                      <h2>{{slide-title}}</h2>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{/slides}}
        </div>
        <div class="dots position-absolute w-100 d-none">
          <div class="row">
            <div class="col-12 col-lg-6 text-center">
              <div class="dots-place"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{/main-carousel}}