{{#concert-section}}

<section class="concert-section">
	<div class="container main-container">
		<div class="row">
			<div class="concert-section__main">
				<div class="row">
					<div class="concert-section__main__wrapper col-12 col-lg-10">
						<div class="concert-section__main__wrapper__info w-info col-12 col-lg-6">
							<div concert-title-data="{{concert-title-data}}" class="concert-section__text-shadow">
								<h2>{{title}}</h2>
							</div>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
								sed do eiusmod tempor incididunt ut labore et dolore magna
								aliqua.
							</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
								sed do eiusmod tempor incididunt ut labore et dolore magna
								aliqua.
							</p>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
								sed do eiusmod tempor incididunt ut labore et dolore magna
								aliqua.
							</p>
						</div>
						<div class="concert-section__main__wrapper__image col-12 col-lg-5">
							<img src="assets/img/concert-image.png" alt="image" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{{/concert-section}}