{{#gallery-categories}}
  <section class="gallery-section">
    <div class="container main-container pt-150px mobile-size">
      <div class="row">
          <div data-about-title="{{data-about-title}}" class="directions__main__title-default text-shadow">
              <h2>{{about-title}}</h2>
          </div>
                   <div class="w-100 col-12 col-lg-10 m-auto">
                    <ul class="nav nav-tabs nav-pills d-flex justify-content-end">
                      <li class="nav-item active"><a href="#photos" class="nav-link" data-toggle="tab"><i class="fa fa-camera" aria-hidden="true"></i> Фото</a></li>
                      <li class="nav-item"><a href="#videos" class="nav-link" data-toggle="tab"><i class="fa fa-youtube-play" aria-hidden="true"></i> Відео</a></li>
                    </ul><!--ul-->
                     <div class="tab-content">
                       <div id="photos" class="tab-pane active">
                          <div class="gallery-wrapper-cat">
                              <div class="gallery-item-cat col-12 col-md-6 col-lg-4">
                                <div class="margin-style">
                                    <a href="#"><img src="assets/img/gal-item-1.jpg" alt="img" /></a>
                                
                                    <div class="description-gallery-cat">
                                        <a href="#"><h4 class="text-center">Наша подорож в Італію</h4></a>
                                        <span class="text-center w-100 d-block">28.04.2018</span>
                                    </div>
                                </div>
                              </div>
                              <div class="gallery-item-cat col-12 col-md-6 col-lg-4">
                                <div class="margin-style">
                                    <a href="#"><img src="assets/img/gal-item-1.jpg" alt="img" /></a>
                                
                                    <div class="description-gallery-cat">
                                        <a href="#"><h4 class="text-center">Наша подорож в Італію</h4></a>
                                        <span class="text-center w-100 d-block">28.04.2018</span>
                                    </div>
                                </div>                               
                              </div>
                              <div class="gallery-item-cat col-12 col-md-6 col-lg-4">
                                <div class="margin-style">
                                    <a href="#"><img src="assets/img/gal-item-1.jpg" alt="img" /></a>
                                
                                    <div class="description-gallery-cat">
                                        <a href="#"><h4 class="text-center">Наша подорож в Італію</h4></a>
                                        <span class="text-center w-100 d-block">28.04.2018</span>
                                    </div>
                                </div>                                
                              </div>
                              <div class="gallery-item-cat col-12 col-md-6 col-lg-4">
                                <div class="margin-style">
                                    <a href="#"><img src="assets/img/gal-item-1.jpg" alt="img" /></a>
                                
                                    <div class="description-gallery-cat">
                                        <a href="#"><h4 class="text-center">Наша подорож в Італію</h4></a>
                                        <span class="text-center w-100 d-block">28.04.2018</span>
                                    </div>
                                </div>                             
                              </div>
                              <div class="gallery-item-cat col-12 col-md-6 col-lg-4">
                                <div class="margin-style">
                                    <a href="#"><img src="assets/img/gal-item-1.jpg" alt="img" /></a>
                                
                                    <div class="description-gallery-cat">
                                        <a href="#"><h4 class="text-center">Наша подорож в Італію</h4></a>
                                        <span class="text-center w-100 d-block">28.04.2018</span>
                                    </div>
                                </div>                             
                              </div>
                              <div class="gallery-item-cat col-12 col-md-6 col-lg-4">
                                <div class="margin-style">
                                    <a href="#"><img src="assets/img/gal-item-1.jpg" alt="img" /></a>                            
                                    <div class="description-gallery-cat">
                                        <a href="#"><h4 class="text-center">Наша подорож в Італію</h4></a>
                                        <span class="text-center w-100 d-block">28.04.2018</span>
                                    </div>
                                </div>
                                
                              </div>
                           
                            </div>
                       </div>       
                       <div id="videos" class="tab-pane">
                        <div class="d-flex flex-wrap">
                            <div class="video-item col-md-6 col-12">
                                <iframe width="100%"col-md-6 col-12 height="315" src="https://www.youtube.com/embed/6lt2JfJdGSY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>
                            <div class="video-item col-md-6 col-12">
                                <iframe width="100%" height="315" src="https://www.youtube.com/embed/6lt2JfJdGSY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>
                            <div class="video-item col-md-6 col-12">
                                <iframe width="100%" height="315" src="https://www.youtube.com/embed/6lt2JfJdGSY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>
                            <div class="video-item col-md-6 col-12">
                                <iframe width="100%" height="315" src="https://www.youtube.com/embed/6lt2JfJdGSY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>
                            <div class="video-item col-md-6 col-12">
                                <iframe width="100%" height="315" src="https://www.youtube.com/embed/6lt2JfJdGSY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>
                            <div class="video-item col-md-6 col-12">
                                <iframe width="100%" height="315" src="https://www.youtube.com/embed/6lt2JfJdGSY" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                            </div>
                        </div>                        
                       </div>                                 
                     </div><!--tab-content-->                    
                  </div><!--col-->      
      </div>
    </div>
  </section>
{{/gallery-categories}}