{{#news}}
<section class="content-block">
  <div class="container main-container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-10">
      <div class="news">
        <div class="author-date-block d-flex justify-content-space-between flex-row">
          <div class="author-fest text-left">
            <p>Автор</p>
          </div>
        <div class="data-fest text-right">
            <p>02.06.2018</p>
          </div>
        </div>
          
        <div class="title-news ">
          <div data-parent="{{data-about-title}}" class="txt-shadow txt-feed">
            <h2>
              {{about-title}}           
            </h2>
          </div>
        </div>
        <div class="row text-left mt-3">
          <div class="col-12 col-lg-12">
            <p>
              Почнемо з "Флюгерів Львова", адже фестиваль стартує вже от-от! Щороку вже протягом 15 років "Флюгери" відкривають сезон фестивалів в Україні. Дійство відбувається у внутрішньому дворику Ратуші, в самому серці старого Львова.
            </p>
          </div>
        </div>
        <div class="row text-left mt-3">
          <div class="col-12 col-lg-12">
            <p>
              Фестиваль є міжнародним та щороку збільшує свої масштаби. Окрім музики, на відвідувачів чекають літературні акції, гепенінги, медійні проекти, театральні акції. Традицією фестивалю були "Ранкові прокидання" з гуртом "Мертвий Півень". Однак з 2012 року на зміну культовому рок-гурту прийшли інші виконавці.
            </p>
          </div>
        </div>
        <div class="row text-left mt-3">
          <div class="col-12 col-lg-12">
            <p>
              За роки фестивалю на сцені виступило понад 150 колективів, тобто близько півтисячі митців. Традиційно на фестивалі лунає джаз і етно, однак дійство не має чітких обмежень по жанрах музики. Тож меломани з різними вподобаннями будуть задоволені!
            </p>
          </div>
        </div>
        <div class="row text-left mt-3">
          <div class="col-12 col-lg-12">
            <p>
              Почнемо з "Флюгерів Львова", адже фестиваль стартує вже от-от! Щороку вже протягом 15 років "Флюгери" відкривають сезон фестивалів в Україні. Дійство відбувається у внутрішньому дворику Ратуші, в самому серці старого Львова.
            </p>
          </div>
        </div>
        <div class="row text-left mt-3">
          <div class="col-12 col-lg-12">
            <p>
              Фестиваль є міжнародним та щороку збільшує свої масштаби. Окрім музики, на відвідувачів чекають літературні акції, гепенінги, медійні проекти, театральні акції. Традицією фестивалю були "Ранкові прокидання" з гуртом "Мертвий Півень". Однак з 2012 року на зміну культовому рок-гурту прийшли інші виконавці.
            </p>
          </div>
        </div>
        <div class="row text-left mt-3">
          <div class="col-12 col-lg-12">
            <p>
              За роки фестивалю на сцені виступило понад 150 колективів, тобто близько півтисячі митців. Традиційно на фестивалі лунає джаз і етно, однак дійство не має чітких обмежень по жанрах музики. Тож меломани з різними вподобаннями будуть задоволені!
            </p>
          </div>
        </div>     
      </div>
    </div>
  </div>
</div>
</section>
{{/news}}