{{#price-section}}

<section class="price">
  <div class="container main-container">
    <div class="price__main">
      <div class="row">
        <div class="col-12">
          <div class="price__main__title text-center">
            <div title-data="{{data-about-title}}" class="txt-price text-shadow">
              <h2>
                {{title}}
              </h2>
            </div>
          </div>
        </div>
      </div>

      <div class="price__main__content d-flex justify-content-center flex-wrap">
        <div class="price__main__content__item col-12 col-md-4 col-lg-4">
          <div class="shadow-price" style="color:#fed202;">
            <div class="price__main__content__item__title text-center" style="background-color: #fed202">
              <h2>Програма для самих маленьких</h2>
            </div>
            <div class="price__main__content__item__price-information text-center">
              <p><span style="color:#fed202;">2000 грн /</span> в місяць</p>
            </div>
            <div class="price__main__content__item__about">
              <ul>
                <li><span>Вік: 3 роки</span></li>
                <li><span>2 години в тиждень;</span></li>
                <li><span>Тривалість заняття 45 хв</span></li>
                <li><span>Відкриті уроки два рази в рік</span></li>
                <li><span>Дипломи за творчі досягнення</span></li>
              </ul>
            </div>
            <div class="price__main__content__item__btn">
              <a href="#" class="info"><span>Записатися</span></a>
            </div>
          </div>
        </div>

        <div class="price__main__content__item col-12 col-md-4 col-lg-4">
          <div class="shadow-price" style="color:#fed202;">
            <div class="price__main__content__item__title text-center" style="background-color: #fed202">
              <h2>Програма STANDART</h2>
            </div>
            <div class="price__main__content__item__price-information text-center">
              <p><span style="color:#fed202;">4000 грн /</span> в місяць</p>
            </div>
            <div class="price__main__content__item__about">
              <ul>
                <li> <span> Вік: 3 роки </span></li>
                <li> <span>2 години в тиждень; </span></li>
                <li> <span>Тривалість заняття 45 хв</span> </li>
                <li><span> Відкриті уроки два рази в рік </span></li>
                <li> <span>Дипломи за творчі досягнення</span> </li>
              </ul>
            </div>
            <div class="price__main__content__item__btn">
              <a href="#" class="info"><span>Записатися</span></a>
            </div>
          </div>
        </div>

        <div class="price__main__content__item col-12 col-md-4 col-lg-4">
          <div class="shadow-price" style="color:#fed202;">
            <div class="price__main__content__item__title text-center">
              <h2>Програма PLUS</h2>
            </div>
            <div class="price__main__content__item__price-information text-center">
              <p><span style="color:#fed202;">6000 грн /</span> в місяць</p>
            </div>
            <div class="price__main__content__item__about">
              <ul>
                <li><span>Вік: 3 роки </span></li>
                <li> <span>2 години в тиждень; </span></li>
                <li> <span>Тривалість заняття 45 хв </span></li>
                <li> <span>Відкриті уроки два рази в рік </span></li>
                <li> <span>Дипломи за творчі досягнення </span></li>
              </ul>
            </div>
            <div class="price__main__content__item__btn">
              <a href="#" class="info"><span>Записатися</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{/price-section}}