{{#teaching-program}}
<section class="teaching-program">
  <div class="container main-container">
    <div class="col-12 col-lg-10  m-auto">
      <div class="justify-content-center d-flex flex-wrap">
        <div class="row ">
          <div class="col-12">
            <div class="section-title  text-center ">
              <div data-parent="{{data-about-title}}" class="txt-shadow txt-teachers">
                <h2>
                  <h2>
                    {{about-title}}
                  </h2>
              </div>
            </div>
          </div>
        </div>
        <div class="teaching-program__main">
          <div class="teaching-program__main__container">
            <div class="row">
              <div class="vacancy__main__block d-flex">
                <div class="accordion js-accordion">
                  <div class="accordion__item js-accordion-item col-12 col-lg-6 col-md-6">
                    <div class="accordion-header js-accordion-header" style="background-color:#604d8d;">Пункт номер
                      один</div>
                    <div class="accordion-body js-accordion-body">
                      <div class="accordion-body__contents">
                        <h2>Вимоги:</h2>
                        <ul>
                          <li><span>Досвід роботи в маркетингу від 1 року,</span></li>
                          <li><span>Знання в області трейд-маркетингу, SEO, соціальних мереж, контекстної реклами,</span></li>
                          <li><span>Володіння інструментами web-аналітики і графічними редакторами,</span></li>
                          <li><span>Стресостійкість та вміння працювати в умовах багатозадачності,</span></li>
                          <li><span>Активна життєва позиція, впевненість в собі і власних силах</span></li>
                        </ul>
                        <h2>Обовязки:</h2>
                        <ul>
                          <li><span>Розробка комунікативної стратегії просування бренду в онлайн-просторі,</span></li>
                          <li><span>Складання медіа-планів, ведення та аналітика рекламних кампаній,</span></li>
                          <li><span>Володіння інструментами web-аналітики і графічними редакторами,</span></li>
                          <li><span>Робота з підрядниками і документами,</span></li>
                          <li><span>Розвиток сайту і соціальних мереж компанії.</span></li>
                        </ul></span>

                        <h2>Умови роботи:</h2>
                        <ul>
                          <li><span>Цікавий проект,</span></li>
                          <li><span>Молода команда професіоналів,</span></li>
                          <li><span>Гідна оплата за результатами співбесіди,</span></li>
                          <li><span>Офіс в центрі міста</span></li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="accordion__item js-accordion-item col-12 col-lg-6 col-md-6">
                    <div class="accordion-header js-accordion-header" style="background-color:#604d8d;">Пункт номер два</div>
                    <div class="accordion-body js-accordion-body">
                      <div class="accordion-body__contents">
                        <h2>Вимоги:</h2>
                        <ul>
                          <li><span>Досвід роботи в маркетингу від 1 року,</span></li>
                          <li><span>Знання в області трейд-маркетингу, SEO, соціальних мереж, контекстної реклами,</span></li>
                          <li><span>Володіння інструментами web-аналітики і графічними редакторами,</span></li>
                          <li><span>Стресостійкість та вміння працювати в умовах багатозадачності,</span></li>
                          <li><span>Активна життєва позиція, впевненість в собі і власних силах</span></li>
                        </ul>
                        <h2>Обовязки:</h2>
                        <ul>
                          <li><span>Розробка комунікативної стратегії просування бренду в онлайн-просторі,</span></li>
                          <li><span>Складання медіа-планів, ведення та аналітика рекламних кампаній,</span></li>
                          <li><span>Володіння інструментами web-аналітики і графічними редакторами,</span></li>
                          <li><span>Робота з підрядниками і документами,</span></li>
                          <li><span>Розвиток сайту і соціальних мереж компанії.</span></li>
                        </ul>
                        <h2>Умови роботи:</h2>
                        <ul>
                          <li><span>Цікавий проект,</span></li>
                          <li><span>Молода команда професіоналів,</span></li>
                          <li><span>Гідна оплата за результатами співбесіди,</span></li>
                          <li><span>Офіс в центрі міста</span></li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="accordion__item js-accordion-item col-12 col-lg-6 col-md-6">
                    <div class="accordion-header js-accordion-header" style="background-color:#604d8d;">Пункт номер три</div>
                    <div class="accordion-body js-accordion-body">
                      <div class="accordion-body__contents">
                        <h2>Вимоги:</h2>
                        <ul>
                          <li><span>Досвід роботи в маркетингу від 1 року,</span></li>
                          <li><span>Знання в області трейд-маркетингу, SEO, соціальних мереж, контекстної реклами,</span></li>
                          <li><span>Володіння інструментами web-аналітики і графічними редакторами,</span></li>
                          <li><span>Стресостійкість та вміння працювати в умовах багатозадачності,</span></li>
                          <li><span>Активна життєва позиція, впевненість в собі і власних силах</span></li>
                        </ul>
                        <h2>Обовязки:</h2>
                        <ul>
                          <li><span>Розробка комунікативної стратегії просування бренду в онлайн-просторі,</span></li>
                          <li><span>Складання медіа-планів, ведення та аналітика рекламних кампаній,</span></li>
                          <li><span>Володіння інструментами web-аналітики і графічними редакторами,</span></li>
                          <li><span>Робота з підрядниками і документами,</span></li>
                          <li><span>Розвиток сайту і соціальних мереж компанії.</span></li>
                        </ul>
                        <h2>Умови роботи:</h2>
                        <ul>
                          <li><span>Цікавий проект,</span></li>
                          <li><span>Молода команда професіоналів,</span></li>
                          <li><span>Гідна оплата за результатами співбесіди,</span></li>
                          <li><span>Офіс в центрі міста</span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="accordion__item js-accordion-item col-12 col-lg-6 col-md-6">
                    <div class="accordion-header js-accordion-header" style="background-color:#604d8d;">Пункт номер
                      чотири</div>
                    <div class="accordion-body js-accordion-body">
                      <div class="accordion-body__contents">
                        <h2>Вимоги:</h2>
                        <ul>
                          <li><span>Досвід роботи в маркетингу від 1 року,</span></li>
                          <li><span>Знання в області трейд-маркетингу, SEO, соціальних мереж, контекстної реклами,</span></li>
                          <li><span>Володіння інструментами web-аналітики і графічними редакторами,</span></li>
                          <li><span>Стресостійкість та вміння працювати в умовах багатозадачності,</span></li>
                          <li><span>Активна життєва позиція, впевненість в собі і власних силах</span></li>
                        </ul>
                        <h2>Обовязки:</h2>
                        <ul>
                          <li><span>Розробка комунікативної стратегії просування бренду в онлайн-просторі,</span></li>
                          <li><span>Складання медіа-планів, ведення та аналітика рекламних кампаній,</span></li>
                          <li><span>Володіння інструментами web-аналітики і графічними редакторами,</span></li>
                          <li><span>Робота з підрядниками і документами,</span></li>
                          <li><span>Розвиток сайту і соціальних мереж компанії.</span></li>
                        </ul>
                        <h2>Умови роботи:</h2>
                        <ul>
                          <li><span>Цікавий проект,</span></li>
                          <li><span>Молода команда професіоналів,</span></li>
                          <li><span>Гідна оплата за результатами співбесіди,</span></li>
                          <li><span>Офіс в центрі міста</span></li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="accordion__item js-accordion-item col-12 col-lg-6 col-md-6">
                    <div class="accordion-header js-accordion-header " style="background-color:#604d8d;">Пункт номер
                      пять</div>
                    <div class="accordion-body js-accordion-body">
                      <div class="accordion-body__contents">
                        <h2>Вимоги:</h2>
                        <ul>
                          <li><span>Досвід роботи в маркетингу від 1 року,</span></li>
                          <li><span>Знання в області трейд-маркетингу, SEO, соціальних мереж, контекстної реклами,</span></li>
                          <li><span>Володіння інструментами web-аналітики і графічними редакторами,</span></li>
                          <li><span>Стресостійкість та вміння працювати в умовах багатозадачності,</span></li>
                          <li><span>Активна життєва позиція, впевненість в собі і власних силах</span></li>
                        </ul>
                        <h2>Обовязки:</h2>
                        <ul>
                          <li><span>Розробка комунікативної стратегії просування бренду в онлайн-просторі,</span></li>
                          <li><span>Складання медіа-планів, ведення та аналітика рекламних кампаній,</span></li>
                          <li><span>Володіння інструментами web-аналітики і графічними редакторами,</span></li>
                          <li><span>Робота з підрядниками і документами,</span></li>
                          <li><span>Розвиток сайту і соціальних мереж компанії.</span></li>
                        </ul>
                        <h2>Умови роботи:</h2>
                        <ul>
                          <li><span>Цікавий проект,</span></li>
                          <li><span>Молода команда професіоналів,</span></li>
                          <li><span>Гідна оплата за результатами співбесіди,</span></li>
                          <li><span>Офіс в центрі міста</span></li>
                        </ul>
                      </div>
                    </div>
                  </div>

                  <div class="accordion__item js-accordion-item col-12 col-lg-6 col-md-6">
                    <div class="accordion-header js-accordion-header" style="background-color:#604d8d;">Пункт номер
                      шість</div>
                    <div class="accordion-body js-accordion-body">
                      <div class="accordion-body__contents">
                        <h2>Вимоги:</h2>
                        <ul>
                          <li><span>Досвід роботи в маркетингу від 1 року,</span></li>
                          <li><span>Знання в області трейд-маркетингу, SEO, соціальних мереж, контекстної реклами,</span></li>
                          <li><span>Володіння інструментами web-аналітики і графічними редакторами,</span></li>
                          <li><span>Стресостійкість та вміння працювати в умовах багатозадачності,</span></li>
                          <li><span>Активна життєва позиція, впевненість в собі і власних силах</span></li>
                        </ul>
                        <h2>Обовязки:</h2>
                        <ul>
                          <li><span>Розробка комунікативної стратегії просування бренду в онлайн-просторі,</span></li>
                          <li><span>Складання медіа-планів, ведення та аналітика рекламних кампаній,</span></li>
                          <li><span>Володіння інструментами web-аналітики і графічними редакторами,</span></li>
                          <li><span>Робота з підрядниками і документами,</span></li>
                          <li><span>Розвиток сайту і соціальних мереж компанії.</span></li>
                        </ul>
                        <h2>Умови роботи:</h2>
                        <ul>
                          <li><span>Цікавий проект,</span></li>
                          <li><span>Молода команда професіоналів,</span></li>
                          <li><span>Гідна оплата за результатами співбесіди,</span></li>
                          <li><span>Офіс в центрі міста</span></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{{/teaching-program}}