{{#testimonials}}
<section class="testimonials_block">
	<div class="container main-container">
		<div class="testimonials_block__main">

			<div class="row">
				<div class="col-12">
					<div class="advantages__main__title">
						<div title-data="{{title}}" class="testimonials text-shadow">
							<h2>
								{{title}}
							</h2>
						</div>
					</div>
				</div>
			</div>

			<div class="row justify-content-center">
				<div class="testimonials_block__main__slider_testimonials col-12 col-lg-10">
					<div class="testimonials_block__main__slider_testimonials__testimonials_main">
						<div class="testimonials_block__main__slider_testimonials__testimonials_main__testimonials_icon">
							<img src="assets/img/testimonials-image.png" alt="image" />
						</div>
						<div class="testimonials_block__main__slider_testimonials__testimonials_main__testimonials_info_content">
							<h2>Наталя Вівсяник</h2>
							<p>Lorem ipsum dolor sit amet,
								consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
								magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
								nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
								in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
							</p>
						</div>
					</div>

					<div class="testimonials_block__main__slider_testimonials__testimonials_main">
						<div class="testimonials_block__main__slider_testimonials__testimonials_main__testimonials_icon">
							<img src="assets/img/testimonials-image.png" alt="image" />
						</div>
						<div class="testimonials_block__main__slider_testimonials__testimonials_main__testimonials_info_content">
							<h2>Наталя Вівсяник</h2>
							<p>Lorem ipsum dolor sit amet,
								consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
								magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
								nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
								in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
							</p>
						</div>
					</div>

					<div class="testimonials_block__main__slider_testimonials__testimonials_main">
						<div class="testimonials_block__main__slider_testimonials__testimonials_main__testimonials_icon">
							<img src="assets/img/testimonials-image.png" alt="image" />
						</div>
						<div class="testimonials_block__main__slider_testimonials__testimonials_main__testimonials_info_content">
							<h2>Наталя Вівсяник</h2>
							<p>Lorem ipsum dolor sit amet,
								consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
								magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
								nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
								in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{{/testimonials}}