{{#about-school}}
  {{> templates/head }}
  {{> templates/header }}
  {{> templates/about-baner }}
  {{> templates/about }}
  {{> templates/reasons }}  
  {{> templates/teachers }}
  {{> templates/achievement-section}} 
  {{> templates/additional-information }}
  {{> templates/gallery }} 
  {{> templates/feed  }} 
  {{> templates/contacts  }} 
  {{> templates/foot }}
{{/about-school}}