{{#home}}
  {{> templates/head }}
  {{> templates/header }}
  {{> templates/main-carousel }}  
  {{> templates/about }} 
  {{> templates/schools }} 
  {{> templates/advantages-section }}
  {{> templates/teachers }} 
  {{> templates/feed  }} 
  {{> templates/concert-section}}
  {{> templates/testimonials}}
  {{> templates/contacts  }} 
  {{> templates/foot }}
{{/home}}