{{#open-news}}
  {{> templates/head }}
  {{> templates/header }}
  {{> templates/news-bnr }} 
  {{> templates/news }}  
  {{> templates/news-desk }} 
  {{> templates/contacts  }} 
  {{> templates/foot }}
{{/open-news}}