{{#vocal}}
  {{> templates/head }}
  {{> templates/header }}
  {{> templates/main-baner }}  
  {{> templates/about }}
  {{> templates/teaching-program }}
  {{> templates/price-section }}
  {{> templates/teachers }} 
  {{> templates/about-table }}
  {{> templates/gallery }} 
  {{> templates/feed  }} 
  {{> templates/contacts  }} 
  {{> templates/foot }}
{{/vocal}}